*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:serif ;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;

}

.container{
  height: min-content;
  width: 400px;
  border: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/* background-color:lightpink; */
background-color: rgba(0, 0, 0, 0.2);
/* background: linear-gradient(to bottom , aqua,lightpink 80%); */
border: 2px solid white;
border-radius:10px ;
}
.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
}
#input{
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  height: 40px;
  width: 80%;
  outline: none;
  border: none;
  padding-left: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
  /* background-color:white; */
}
#input::placeholder{
  color: black;
  text-transform: capitalize;
  /* color: white; */
}

#search{
color:blue;
margin-left: 10px;
font-size: 23px;
width: 20px;
cursor: pointer;
width: 40px;
height: 35px;
/* background-color: white; */
border-radius: 30px;
padding-top: 10px;

}
#search:hover{
  color:red;
  /* background-color:gold; */
}
#location{
  color: blue;
  position:absolute;
  padding-right: 330px;
}

.weather-details{
  height: 220px;
  width: 100%;
  /* border: 1px solid black; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
position: relative;
}

.weather-image{
  /* border: 1px solid black; */
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
/* width: 200px; */

}
#weather-img{
  /* width: 100px; */
  height: 100px;
  /* box-shadow: 2px 2px 2px #0000ff,-2px -2px 2px #0000ff; */

}


.main{
  height: 430px;
  width: 100%;
  display: none;
  flex-direction: column;
}

.weather-box{
  height: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid black;  */
 }
  
  .weather-box .temperature{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 900;
  }
  
  .weather-box .temperature  sup{
    position: absolute;
    font-size: 20px;
    font-weight: 900;
  }
  
  .weather-box .description{
    text-transform: capitalize;
    font-weight: 800;
    padding-left: 30px;
  }
  
.details{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;

  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  /* border: 1px solid black; */
}
.details .humidity{
 
  width: 50%;
  display: flex;
  flex-direction: row;
 
  padding-left: 10px;
}
.details .wind{
width: 50%;
display: flex;
flex-direction: row;
padding-left: 60px;
}

 .humidity img{
  height: 30px;
 } 

 .wind img{
  height: 30px;

 }
 

 /* hourly forecast  */

 .hourly-forecast{
  height: 150px;
  width: 100%;
  /* border: 1px solid black; */
padding: 5px;
text-transform: capitalize;
display:flex;
flex-direction:row;
cursor: pointer;
gap: 1rem;
overflow-x:none;
overflow-y: auto;

 }
 .hourly-forecast::-webkit-scrollbar{
  scroll-behavior: smooth;

 }

#hourly{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
 padding-left: 30px;
 }
 .hourly-forecast img{
width: 50px;
  /* margin-top: 20px; */
  margin-bottom: 4px;
 }

.hourly-forecast  .forecast{
  padding-top: 10px;
  height:120px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
 flex-shrink: 0;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 20px;
border: 1px solid white;
transition: all 0.4s ease;
 }
 .forecast:hover{
  transform:perspective(800px)  translateZ(50px);
 }

 
 
.location-not-found{

  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.location-not-found h1{
  font-size: 20px;
  color: black;
  margin-block-end: 15px;
}

.location-not-found img{
  width: 80%;
}




/* for desktop size */

/* @media only screen and (min-width: 1200px) {
 
  .container .screen {
    height: 120px;
  }

  .container .screen input {
    height: 100px;
    font-size: 40px;
  }

  .container .screen #dark {
    margin-top: 10px;
   
    color: dodgerblue;
  }
} */


 

/* for laptop  size  */

/* 
@media only screen and (min-width: 769px) and (max-width: 1024px) {

.container{
  width: 350px;
}
} */


/* for tablets size */



@media only screen and (max-width: 768px) and (min-width: 481px) {
 
/* 
  .container {
   
    width: 300px;
    
  } */
 

/* #location{
  margin-left: 50px;
} */

}


/* for small screen  size */

@media only screen and (max-width: 480px) {
 

  .container {
 width: 350px;
   
  }

 
#location{
  margin-left: 30px;
}


}
